# .venv/
# __pycache__/
# *.pyc
# .env
# .vscode/
# uploads/
# logs/

# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# Logs
logs/

# Uploaded Files
uploads/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db